.fieldsContainer {
    margin-top: 20px;
    padding-left: 20px; /* Add left padding for the entire container */
}

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Space between input fields */
}

.inputField {  /* Local class for input fields */
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.inputField:focus {
    border-color: #0070f3; /* Blue border on focus */
    outline: none; /* Remove default outline */
}

.label {
    margin-bottom: 5px; /* Space between label and input field */
    font-weight: bold;
}

.deleteButton {
    background-color: #ff4c4c; /* Red color for delete button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: darkred; /* Darker on hover */
}

.centeredTitle {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Space below the title */
}
